#### Exploritary Data Analysis of NHANES Dataset

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
NHANES_PATH = Path.cwd()/'Data'/'NHANES_raw'
DEMO_PATH = NHANES_PATH/'Demographics'
LAB_PATH = NHANES_PATH/'Laboratory'

In [3]:
demo_files = [x.name for x in DEMO_PATH.iterdir() if x.is_file()]

In [4]:
demo_files.sort()

In [5]:
demo_files

['00-99.XPT',
 '01-02.XPT',
 '03-04.XPT',
 '05-06.XPT',
 '07-08.XPT',
 '09-10.XPT',
 '11-12.XPT',
 '13-14.XPT',
 '15-16.XPT',
 '17-20.XPT']

In [6]:
pd.read_sas(DEMO_PATH/demo_files[-1])

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,...,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINTPRP,WTMECPRP,SDMVPSU,SDMVSTRA,INDFMPIR
0,109263.0,66.0,2.0,1.0,2.0,NaN,5.0,6.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,7891.762435,8.951816e+03,3.0,156.0,4.66
1,109264.0,66.0,2.0,2.0,13.0,NaN,1.0,1.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,11689.747264,1.227116e+04,1.0,155.0,0.83
2,109265.0,66.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,16273.825939,1.665876e+04,1.0,157.0,3.06
3,109266.0,66.0,2.0,2.0,29.0,NaN,5.0,6.0,2.0,2.0,...,2.0,1.0,2.0,2.0,1.0,7825.646112,8.154968e+03,2.0,168.0,5.00
4,109267.0,66.0,1.0,2.0,21.0,NaN,2.0,2.0,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,26379.991724,5.397605e-79,1.0,156.0,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15555,124818.0,66.0,2.0,1.0,40.0,NaN,4.0,4.0,1.0,1.0,...,2.0,1.0,2.0,2.0,1.0,21586.596728,2.166689e+04,1.0,166.0,3.82
15556,124819.0,66.0,2.0,1.0,2.0,NaN,4.0,4.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,1664.919253,1.838170e+03,2.0,171.0,0.07
15557,124820.0,66.0,2.0,2.0,7.0,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,14819.783161,1.649781e+04,1.0,157.0,1.22
15558,124821.0,66.0,2.0,1.0,63.0,NaN,4.0,4.0,1.0,1.0,...,2.0,1.0,2.0,2.0,1.0,4666.817952,4.853430e+03,1.0,158.0,3.71
15559,124822.0,66.0,2.0,1.0,74.0,NaN,2.0,2.0,2.0,2.0,...,NaN,2.0,2.0,2.0,NaN,14024.476634,1.519580e+04,1.0,149.0,NaN

In [7]:
pd.read_sas(DEMO_PATH/demo_files[-1]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15560 entries, 0 to 15559
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      15560 non-null  float64
 1   SDDSRVYR  15560 non-null  float64
 2   RIDSTATR  15560 non-null  float64
 3   RIAGENDR  15560 non-null  float64
 4   RIDAGEYR  15560 non-null  float64
 5   RIDAGEMN  987 non-null    float64
 6   RIDRETH1  15560 non-null  float64
 7   RIDRETH3  15560 non-null  float64
 8   RIDEXMON  14300 non-null  float64
 9   DMDBORN4  15560 non-null  float64
 10  DMDYRUSZ  3028 non-null   float64
 11  DMDEDUC2  9232 non-null   float64
 12  DMDMARTZ  9232 non-null   float64
 13  RIDEXPRG  1874 non-null   float64
 14  SIALANG   15560 non-null  float64
 15  SIAPROXY  15560 non-null  float64
 16  SIAINTRP  15560 non-null  float64
 17  FIALANG   14481 non-null  float64
 18  FIAPROXY  14481 non-null  float64
 19  FIAINTRP  14481 non-null  float64
 20  MIALANG   11000 non-null  float64
 21  MIAPROXY  11000 non-null  float64
 22  MIAINTRP  11000 non-null  float64
 23  AIALANGA  8224 non-null   float64
 24  WTINTPRP  15560 non-null  float64
 25  WTMECPRP  15560 non-null  float64
 26  SDMVPSU   15560 non-null  float64
 27  SDMVSTRA  15560 non-null  float64
 28  INDFMPIR  13359 non-null  float64
dtypes: float64(29)
memory usage: 3.4 MB

In [8]:
[pd.read_sas(DEMO_PATH/file_name).shape for file_name in demo_files]

/home/ja/miniconda3/envs/fastAI/lib/python3.8/site-packages/pandas/io/sas/sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

[(9965, 144),
 (11039, 37),
 (10122, 44),
 (10348, 43),
 (10149, 43),
 (10537, 43),
 (9756, 48),
 (10175, 47),
 (9971, 47),
 (15560, 29)]

In [9]:
[(pd.read_sas(DEMO_PATH/file_name).SEQN.min(), pd.read_sas(DEMO_PATH/file_name).SEQN.max()) for file_name in demo_files]

[(1.0, 9965.0),
 (9966.0, 21004.0),
 (21005.0, 31126.0),
 (31127.0, 41474.0),
 (41475.0, 51623.0),
 (51624.0, 62160.0),
 (62161.0, 71916.0),
 (73557.0, 83731.0),
 (83732.0, 93702.0),
 (109263.0, 124822.0)]

In [10]:
lab_files = [file_path for file_path in (LAB_PATH/'17-20').iterdir() if file_path.is_file()]
pd.read_sas(lab_files[0])

          SEQN      WTSAFPRP  LBXIN  LBDINSI       LBDINLC
0     109264.0  27533.174559   6.05    36.30  5.397605e-79
1     109271.0  18100.965319  16.96   101.76  5.397605e-79
2     109274.0  16281.758327  13.52    81.12  5.397605e-79
3     109277.0  32230.046209   6.44    38.64  5.397605e-79
4     109282.0  79007.100787   7.49    44.94  5.397605e-79
...        ...           ...    ...      ...           ...
5085  124813.0  31057.927370   8.19    49.14  5.397605e-79
5086  124814.0   9339.898841   7.27    43.62  5.397605e-79
5087  124815.0  75210.175082   7.10    42.60  5.397605e-79
5088  124821.0  10704.467871   7.75    46.50  5.397605e-79
5089  124822.0  36585.328133   4.45    26.70  5.397605e-79

[5090 rows x 5 columns]

In [11]:
pd.read_sas(lab_files[1])

           SEQN  LBXTC  LBDTCSI
0      109264.0  166.0     4.29
1      109266.0  195.0     5.04
2      109270.0  103.0     2.66
3      109271.0  147.0     3.80
4      109273.0  164.0     4.24
...         ...    ...      ...
12193  124817.0  200.0     5.17
12194  124818.0  234.0     6.05
12195  124820.0  179.0     4.63
12196  124821.0  155.0     4.01
12197  124822.0  171.0     4.42

[12198 rows x 3 columns]

In [12]:
pd.read_sas(lab_files[2])

          SEQN      WTSAFPRP  LBXGLU  LBDGLUSI
0     109264.0  27533.174559    97.0      5.38
1     109271.0  18100.965319   103.0      5.72
2     109274.0  16281.758327   154.0      8.55
3     109277.0  32230.046209    92.0      5.11
4     109282.0  79007.100787    95.0      5.27
...        ...           ...     ...       ...
5085  124813.0  31057.927370    98.0      5.44
5086  124814.0   9339.898841   105.0      5.83
5087  124815.0  75210.175082   102.0      5.66
5088  124821.0  10704.467871   125.0      6.94
5089  124822.0  36585.328133    96.0      5.33

[5090 rows x 4 columns]