In [1]:
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
PATH_DATA = Path.cwd()

In [4]:
data = pd.read_csv(Path.cwd()/'data.csv')

In [5]:
with open(PATH_DATA/'features_ordered.txt') as f:
    ordered_features = [line.strip() for line in f.readlines()]

In [7]:
data = data[ordered_features]

In [15]:
data

,SEQN,GENDER,AGE,Albumin_mgl,Glucose_mmolL,Urea_mmolL,Cholesterol_mmolL,Protein_gdL,Sodium_mmolL,Creatinine_mgdl,...,Triglyceride_mmolL,HDL_mmolL,LDL_mmolL,Calcium_mmolL,Potassium_mmolL,Hematocrit_%,MCHC_gdl,MCV_fL,Platelet_TuL,RBC_MuL
0,2,M,77,9.1,4.646,6.80,5.56,7.2,144.1,145.0,...,1.450,1.39,3.520,2.325,4.06,41.8,33.6,88.5,214.0,4.73
1,5,M,49,6.1,5.550,5.70,7.21,7.3,137.5,172.0,...,3.920,1.08,4.340,2.375,4.63,43.6,33.3,84.9,209.0,5.13
2,7,F,59,6.7,4.756,3.60,6.34,8.1,143.2,128.0,...,0.700,2.73,3.280,2.450,4.25,40.2,33.3,87.4,244.0,4.60
3,10,M,43,11.1,4.989,4.60,3.62,7.6,140.9,279.0,...,0.510,1.31,2.070,2.350,4.28,46.2,33.5,92.3,167.0,5.00
4,12,M,37,34.3,4.606,7.10,4.03,7.2,141.3,99.0,...,1.650,0.98,2.300,2.200,3.81,48.1,33.3,83.5,357.0,5.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38781,51618,M,48,5.2,5.551,3.93,4.97,7.3,144.0,81.0,...,1.163,1.22,3.207,2.450,4.30,43.9,33.4,87.6,310.0,5.01
38782,51620,F,50,39.5,5.440,6.07,6.31,7.0,139.0,161.0,...,2.518,1.06,4.086,2.200,4.30,40.3,35.4,91.9,161.0,4.39
38783,51620,F,50,39.5,5.440,6.07,6.31,7.0,139.0,161.0,...,2.518,1.06,4.086,2.200,4.30,40.3,35.4,91.9,161.0,4.39
38784,51623,M,72,26.3,6.717,7.50,2.95,7.7,141.0,123.0,...,0.632,1.09,1.577,2.375,4.20,48.9,33.5,86.3,241.0,5.66
38785,51623,M,72,26.3,6.717,7.50,2.95,7.7,141.0,123.0,...,0.632,1.09,1.577,2.375,4.20,48.9,33.5,86.3,241.0,5.66

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
l = list(data.AGE)

In [19]:
ohe = OneHotEncoder()

In [25]:
list(ohe.fit_transform([l]))

[<1x38786 sparse matrix of type '<class 'numpy.float64'>'
 	with 38786 stored elements in Compressed Sparse Row format>]